include injectdll/backends/dotnet/bin/x86_64/bootstrap.dll
include injectdll/backends/dotnet/bin/x86_64/Newtonsoft.Json.dll
include injectdll/backends/dotnet/bin/x86_64/worker_wpf.dll

include injectdll/backends/hook/bin/x86_64/pywinmsg64.dll
include injectdll/backends/hook/bin/x86_64/pywinmsg64u.dll